/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* VARIABLES */
:root{
    /* COLORS */
    --primary-color: hsl(21, 70%, 4%); 
    --secondary-color: hsl(0, 0%, 96%); 
    --coffee-color: hsl(31, 59%, 68%); 
    --shadow-navbar: hsl(0, 0%, 92%);
    --shadow: hsla(0, 0%, 0%, 0.651);
    --light-white: hsla(0, 0%, 100%, 0.801); 

    /* FONT-WEIGHT */
    --big-font-weight: 800;
    --medium-font-weight: 600;
    --normal-font-weight: 400;

    /* FONT-FAMILY */
    --font-1: "Dancing Script", cursive;
    --font-2: "Poppins", sans-serif;
}

/* BASE */


/* HOME PAGE */

    /* BREAKPOINTS */
